---
layout: default
---

<div class="content">
  <div class="posts">
    {% for post in site.posts limit:5 %}
    <a href="{{ post.url }}" class="post-excerpt">
      <div class="c">
        <h3 class="text">{{ post.title }}</h3>
        <div class="body">
          <p>
            {{ post.date | date: "%b %Y" }}

	        {% if post.description %}
              {{ post.description | markdownify | strip_html }}
            {% else %}
              {{ post.excerpt | strip_html }}
            {% endif %}
          </p>
        </div>
      </div>
    {% endfor %}
    </a>
    <div class="breaker"></div>
    <div class="end"></div>
  </div>
</div>

