<footer class="section">
    <h3> Fraser Crossman </h3>
    <div>
        <a href="https://www.frasercrossman.com/feed.xml" target="_blank"><img src="/images/rss.svg" style="width:1.5em; height:1.5em;"/></a>
        <a href="https://uk.linkedin.com/in/frasercrossman" target="_blank"><img src="/images/linkedin.svg" style="width:1.5em; height:1.5em"/></a>
        <a href="https://github.com/frasercrossman" target="_blank"><img src="/images/github.svg" style="width:1.5em; height:1.5em"/></a>
    </div>
</footer>