<footer class="section">
    <h3> Fraser Crossman </h3>
    <div>
        <a href="https://www.frasercrossman.com/feed.xml" target="_blank"><img src="/images/rss.svg" style="width:1.5em; height:1.5em;" alt="RSS"/></a>
        <a href="https://www.linkedin.com/in/frasercrossman" target="_blank"><img src="/images/linkedin.svg" style="width:1.5em; height:1.5em" alt="LinkedIn"/></a>
        <a href="https://www.github.com/frasercrossman" target="_blank"><img src="/images/github.svg" style="width:1.5em; height:1.5em" alt="GitHub"/></a>
    </div>
</footer>
