<footer class="section">
    <h3> Fraser Crossman </h3>
    <div>
        <a href="https://github.com/frasercrossman" target="_blank"><img src="/images/github.svg" style="width:1.5em; height:1.5em"/></a>
        <a href="https://uk.linkedin.com/in/frasercrossman" target="_blank"><img src="/images/linkedin.svg" style="width:1.5em; height:1.5em"/></a>
        <a href="http://stackoverflow.com/users/6797697/fraser-crossman" target="_blank"><img src="/images/stackoverflow.svg" style="width:1.5em; height:1.5em;"/></a>
    </div>
</footer>