div.content {
  flex: 1 0 auto; /* expand to fill space */
  box-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
}

/* styling for generated article */
div.content:not(.sub) h1:first-child {
  margin-top: 0;
}

div.content *[align="right"] {
  margin: 0 0 1em 1.5em;
}

div.content *[align="left"] {
  margin: 0 1.5em 1em 0;
}

div.content li {
  margin-left: 2em;
  margin-bottom: 0.2em;
}

div.content ul > li {
  margin-left: 1.4em;
}

div.content ul.minimal {
  list-style: none;
}

div.content ul.minimal > li {
  margin-left: 0;
}

div.content blockquote {
  border-left: 4px solid #ddd;
  padding: 0 0 0 20px;
  color: #777;
}

div.content div.quotation blockquote {
  margin-left: -30px;
}

div.content pre {
  line-height: 1.25;
  overflow-x: auto;
  padding: 16px;
}

