footer {
  height: 4.5em;
  margin-top: 1em;
  border-top: 1px solid lightgrey;

  /*display: flex; all-support*/
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  /*flex-direction: column; all-support*/
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  flex: 0 0 auto; /* expand to fill space */
  box-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
}

footer > h3 {
  width: 50%;
  font-size: 1em;
  margin: auto .5em;

  flex: 1 0 auto;
  box-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;

  align-self: flex-start;
  -webkit-align-self: flex-start;

  order: 1;
}

footer > div {
  width: 50%;
  margin: auto .5em;

  /*display: flex; all-support*/
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  /*flex-direction: column; all-support*/
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  flex: 1 0 0;
  box-flex: 1 0 0;
  -ms-flex: 1 0 0;
  -webkit-flex: 1 0 0;

  align-self: center;
  -webkit-align-self: center;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;

  order: 2;
}

footer > div > a {
  margin-left: .5em;
}