div .post {
  padding-bottom: 0;
  page-break-before: always;
}

div .post.single, div.post:last-child {
  border-bottom:none;
}

div .post actions, div.post info {
  color: #ccc;
}

div .post actions {
  background: blue;
  display:inline-block;
  float:right;
}

div .post info {
  display:block;
}