html {
  height: 100%;
}

body {
  /*display: flex; all-support*/
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  /*flex-direction: column; all-support*/
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  min-height: 100vh;
  height: 100%; /* browser support */

  width:62%;
  margin: 0 auto;

  font-family: arial,sans-serif;
  font-size: small;
}

header {
  flex: 0 0 auto; /* expand to fill space */
  box-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;

  @-moz-document url-prefix() {
    #flexible-content{
      flex: 0 0 auto;
    }
  }
}

header > h1 {
  display: inline-block;
  margin: 0.25em;

  font-size: 2em;
}

#container { /*central section nav and article*/
  /*display: flex; all-support*/
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  /*flex-direction: column; all-support*/
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  flex: 1 0 auto;
  box-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;

  @-moz-document url-prefix() {
    #flexible-content{
      flex: 1 0 auto;
    }
  }

  padding: var(--space);
}

.section {
  /*border: 1px dotted grey;*/
}

article {
  flex: 1 0 0; /* expand to fill space */
  box-flex: 1 0 0;
  -ms-flex: 1 0 0;
  -webkit-flex: 1 0 0;

  @-moz-document url-prefix() {
    #flexible-content{
      flex: 1 0 0;
    }
  }

  margin-top: var(--space);

  color: #404040;
  font: 1.1em 'Open Sans', sans-serif;
  letter-spacing: -.02em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.7em;
}

nav {
  flex: 0 0 auto; /* expand to fill space */
  box-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;

  @-moz-document url-prefix() {
    #flexible-content{
      flex: 0 0 auto;
    }
  }

  height: 3em;
  padding-left: 1em;
  margin: 1em;
  border-radius: 1em;
  background: lightgrey;
}

nav > ul {
  list-style-type: none;
  margin: 0.5em 0;
  padding: 0;
}

nav > ul > li {
  display: inline;
  font-size: 1em;
}

nav > ul > li > a {
  text-decoration: none;
  color: black;
}

footer {
  /*display: flex; all-support*/
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  /*flex-direction: column; all-support*/
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  flex: 0 0 auto; /* expand to fill space */
  box-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;

  @-moz-document url-prefix() {
    #flexible-content{
      flex: 0 0 auto;
    }
  }

  height: 5.5em; /* not used but removes border line if omitted */

  border-top: 1px solid lightgrey;
}

footer > h3 {
  font-size: 1em;

  flex: 1 0 auto;
  box-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;

  @-moz-document url-prefix() {
    #flexible-content{
      flex: 1 0 auto;
    }
  }

  margin: auto .5em;
  width: 50%;

  align-self: flex-start;
  -webkit-align-self: flex-start;

  order: 1;
}

footer > div {
  /*display: flex; all-support*/
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  /*flex-direction: column; all-support*/
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  flex: 1 0 0;
  box-flex: 1 0 0;
  -ms-flex: 1 0 0;
  -webkit-flex: 1 0 0;

  @-moz-document url-prefix() {
    #flexible-content{
      flex: 1;
    }
  }

  margin: auto .5em;
  width: 50%;

  align-self: center;
  -webkit-align-self: center;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;

  order: 2;
}

footer > div > a {
  margin-left: .5em;
}

@media (max-width: 600px) {
  body {
    width: 90%;
  }
}
